body {
    font-family: 'Libre Caslon Text', serif;
    font-size: 17px;
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Caslon Text', serif;
}

#header {
    width: 100px;
    padding: 0 23px;
    background: #a19e9e;
}

#footer {
    width: 100px;
    background: transparent;
    z-index: 9997;
}

.nav-menu a i, .nav-menu a:focus i {
    font-size: 17px;
    padding-right: 8px;
    color: #fff;
}

.bi.bi-chevron-double-down {
    font-size: 23px;
    color: #fff;
}

#main {
    margin-left: 100px;
}

@media only screen and (max-width: 1198px) {
    #main {
        margin-left: 0;
    }
}

.bx.bi-circle-fill {
    font-size: 20px;
}

.nav-menu a, .nav-menu a:focus {
    padding: 2px 19px;
}

.shadow {
    box-shadow: 0 9px 30px rgba(51, 83, 145, .08) !important;
}

.nav-link {
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: #b99658;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/logo-animation.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

section {
    height: 100vh;
}

.center-section {
    margin-top: 50px;
}

.router-link-exact-active.router-link-active {
    color: #b99658 !important;
}

@media only screen and (max-width: 600px) {
    section {
        height: auto;
    }

    .img-gif {
        width: 300px !important;
        margin-left: -15px !important;
        margin-top: -190px;
    }

    .img-gif-2 {
        margin-bottom: 30px;
    }

    .paragraph {
        margin-top: -75px !important;
        font-size: 19px !important;
    }

    .video {
        margin-top: 10px;
    }

    #footer {
        display: none;
    }

    .section-title h2::after {
        left: 45% !important;
    }
    .img-about{
        margin-top: 0 !important;
    }
    .section-5{
        margin-top: 0 !important;
    }
    .vedio{
        width: 100%;
        margin-top: 10px !important;
    }
}
.flag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-shadow: 2px 2px;
}
.vedio{
    margin-top: 50px;
}
.section-5{
    margin-top: 150px;
}
.
